{% import "macros.html" as macros %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Item Status</title>
    <link rel="stylesheet" href="/pkg/style.css" />
    <link rel="stylesheet" href="/pkg/css/font-awesome.min.css" />
</head>

<body>
    <main>
        <item-card class="frosty">
            <item-info><item-name>{{ item.name }}</item-name> <item-strid> {{ item.strid }}</item-strid></item-info>
            <item-owner {% match session %} {% when BlaimSession::Authenticated { member } %} {% if
                owner.snowflake().map(closure!(id, { id==member.id })).unwrap_or(false) %} class="you" {% endif %} {%
                when _ %} {% endmatch %}>
                <p>Held by</p>
                {% call macros::show_owner(owner) %}
            </item-owner>

            {% if let Some(updates) = borrow_updates %}

            {% let prior_owner = borrow_history.iter().skip(1).next().map(closure!(it,
            &it.0)).unwrap_or(&Owner::Ethereal) %}
            <borrow-update-section>
                <img src="/pkg/star.svg" />
                <borrow-update>
                    <transfer class="frosty">
                        <h2>You got a <span>{{ updates.updated_items.item.item.name }}</span>!</h2>

                        <transfer-flex>
                            {% call macros::show_owner(prior_owner) %}
                            <arrow>→</arrow>
                            {% call macros::show_owner(owner) %}
                        </transfer-flex>
                    </transfer>

                    {% if !updates.updated_items.children.is_empty() %}
                    <additional-items class="frosty">
                        <details>
                            <summary>
                                <h5>
                                    <i class="fa fa-archive"></i>
                                    Together with <b>{{ updates.updated_items.iter_depth_first().count() - 1 }}
                                        boxed items</b>
                                </h5>
                            </summary>
                        </details>
                        <item-tree>
                            {{ ItemTreeTemplate::from(updates.updated_items) | safe }}
                        </item-tree>
                    </additional-items>
                    {% endif %}

                    {% if !updates.present_updates.is_empty() %}
                    <present-updates-section class="frosty">
                        <details>
                            <summary>
                                <h5>
                                    <i class="fa fa-refresh"></i>
                                    Updating status of <b>{{ updates.present_updates.len() }} items</b>
                                </h5>
                            </summary>
                        </details>
                        <present-updates>
                            {% for (bx, item, present) in updates.present_updates %}
                            <item-name>{{ item.name }}</item-name>
                            {% if present %}
                            <box-icon>
                                <i class="fa fa-sign-in in-box"></i>
                            </box-icon>
                            <box-name class="in-box">{{ bx.name }}</box-name>
                            {% else %}
                            <box-icon>
                                <i class="fa fa-sign-out out-box"></i>
                            </box-icon>
                            <box-name class="out-box">{{ bx.name }}</box-name>
                            {% endif %}
                            {% endfor %}
                        </present-updates>
                    </present-updates-section>
                    {% endif %}
                </borrow-update>


            </borrow-update-section>
            {% endif %}

            <actions>
                {% match session %}
                {% when BlaimSession::Challenged { state, at, redirect } %}
                <a
                    href="https://discord.com/oauth2/authorize?client_id=1239583904554549258&response_type=code&redirect_uri={{ crate::templates::OAUTH_REDIRECT_URI | urlencode_strict }}&scope=identify&state={{ state }}">
                    Sign in with Discord
                </a>
                {% when BlaimSession::Authenticated { member } %}
                <form>
                    {% if owner.snowflake().map(closure!(id, { id != member.id })).unwrap_or(true) %}
                    <button formaction="/borrow/{{ item.id }}" formmethod="post">Borrow as
                        {% call macros::show_owner(Owner::Member(MemberOwner::Resolved(member.clone()))) %}
                    </button>
                    {% else %}
                    <button formaction="/give/{{ item.id }}" formmethod="post">
                        Give to
                        <autocomplete-container>
                            <input type="hidden" name="to" value="" id="hidden-id" />
                            <input type="text" name="search" placeholder="User..." id="user-input" required
                                autocomplete="off" />
                            <ul id="user-suggest">
                            </ul>
                            <avatar-container>
                                <img src="" id="avatar-img">
                            </avatar-container>
                        </autocomplete-container>
                        <script defer id="member" src="/members"></script>
                        <script>
                            document.getElementById("member").onload = () =>
                                autocomplete(
                                    document.getElementById("user-input"),
                                    document.getElementById("user-suggest"),
                                    document.getElementById("hidden-id"),
                                    document.getElementById("avatar-img")
                                );
                        </script>
                    </button>
                    {% endif %}
                </form>

                {% endmatch %}
            </actions>

            {% if box_contents.iter_depth_first().count() > 1 %}
            <box-contents>
                <h2>Contents</h2>
                <item-tree-container>
                    <item-tree class="frosty-solid">
                        {{ ItemTreeTemplate::from(box_contents) | safe }}
                    </item-tree>
                </item-tree-container>

            </box-contents>
            {% else %}
            {% endif %}


            <borrow-history-container>
                <h2>Borrow history</h2>
                <borrow-history>
                    {% for (borrow, date) in borrow_history %}
                    <borrow-date title="{{date.format(&Rfc2822).unwrap()}}">
                        {{ crate::templates::time_since_human_readable(date) }}
                    </borrow-date>
                    <borrow-timeline>
                        <borrow-dot></borrow-dot>
                        <borrow-line></borrow-line>
                    </borrow-timeline>
                    <borrow-owner>
                        {% call macros::show_owner(borrow) %}
                    </borrow-owner>
                    {% endfor %}

                    <!-- Appearance -->
                    <borrow-date>
                    </borrow-date>
                    <borrow-timeline>
                        <borrow-star>
                            <img src="/pkg/bigbang.svg" />
                        </borrow-star>
                    </borrow-timeline>

                    <borrow-owner>
                        {{ crate::templates::random_appearance_idiom() }}
                    </borrow-owner>
                </borrow-history>
            </borrow-history-container>
        </item-card>
    </main>

    <script>
        // URL is /item/<item name>/id
        const canonical_item_name = "{{ item.name }}";
        const item_id = "{{ item.id }}";
        const new_url = `/item/${encodeURIComponent(canonical_item_name)}/${item_id}`;
        window.history.replaceState(null, '', new_url);
    </script>
</body>


</html>