directory-listing {
    & ul {
        list-style-type: none;
        text-align: left;
        padding: 0;
    }
}

@media screen and (width <= 600px) {
    directory-listing {
        & ul > li {
            padding-bottom: 15px;
        }
    }
    
}

main-directory {
    display: block;
    margin: auto;
    max-width: min(800px, 90vw);
    width: 100%;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    z-index: 2;
    padding: 50px
}