directory-listing {
    & ul {
        list-style-type: none;
        text-align: left;
    }
}

main-directory {
    display: block;
    margin: auto;
    max-width: 800px;
    width: 100%;
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    z-index: 2;
    padding: 50px
}