:root {
    --radial-gradient-right: radial-gradient(ellipse at right, #1a3449 0%, #000000 110%);
}

* {
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    width: 100%;
    font-family: 'Source Sans Pro', 'Atkinson Hyperlegible', system-ui, sans-serif;
    color: #eee;
    background-color: #09131a;
}

body {
    background-image: var(--radial-gradient-right);
    padding: 50px 0 50px 0;
}

main::after {
    backdrop-filter: blur(100px);
    border-radius: 20px;
    background-color: #1a344901;
    z-index: -2;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

main {
    margin: auto;
    max-width: 600px;
    padding: 50px;
    text-align: center;
    position: relative;
    z-index: 2;

    h1 {
        margin-top: 0;
        margin-bottom: 40px;
    }
}

logo {
    img {
        max-height: 100px;
        filter: invert(1);
    }

    display: block;
    margin: 50px auto 0 auto;
    width: fit-content;
}

autocomplete-container {
    width: 100%;
    display: flex;
}

searches {
    text-align: left;

    h3 {
        padding-left: 8px;
        margin: 4px;
    }

    form {
        display: flex;
        flex-direction: row;

        input {
            background-color: #101e29;
            border: 1px solid #101e29;
            border-radius: 10px;
            padding: 8px;
            color: #eee;
            flex-grow: 1;
        }

        input:focus {
            outline: none;
            border: 1px solid #3a8edc;
            box-shadow: 0 0 5px #3a8edc;
        }

        button {
            background-color: #1a3449;
            border: none;
            border-radius: 10px;
            padding: 8px 16px;
            color: #fff;
            cursor: pointer;
        }
    }
}

.frosty::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 20px;
    padding: 3px;
    /* control the border thickness */
    backdrop-filter: blur(5px) brightness(1.8) contrast(1.2) saturate(0.7);
    mask:
        conic-gradient(#000 0 0) content-box,
        conic-gradient(#000 0 0);
    mask-composite: exclude;
    pointer-events: none;
    z-index: -1;
}

.button-directory {
    position: relative;
    z-index: 2;
    display: block;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 1.2em;
    width: fit-content;
    margin-top: 20px;
    text-decoration: none;
    color: #a4c9c9;
}

.button-directory:hover {
    color: #e1f0f0;
}