autocomplete-container {
    position: relative;
    z-index: 3;

    input {
        background-color: #263e53;
        border: none;
        color: #92d8c6;
        border-radius: 20px;
        padding: 5px 10px 5px 30px;
        width: 150px;

        &:focus {
            outline: 1px solid #92d8c6;
            background-color: #3f5c77;
        }

        z-index: 4;
        position: relative;
    }

    input:focus+ul,
    ul:hover {
        max-height: 100px;
        overflow-y: auto;
        padding-top: 1em;
    }

    &>avatar-container {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 6px;
        z-index: 5;

        img {
            max-height: 20px;
        }
    }

    ul {
        max-height: 0;
        transition: max-height 0.3s;
        position: absolute;
        top: 20px;
        left: 0;
        margin: 0;
        list-style: none;
        background-color: #192a3a;
        width: 100%;
        border-bottom-right-radius: 20px;
        border-bottom-left-radius: 20px;
        overflow: hidden;
        z-index: 1;
        padding: 0;

        li {
            padding: 8px 10px 8px 10px;
            cursor: pointer;

            span {
                text-overflow: ellipsis;
                overflow: hidden;

            }

            text-wrap: nowrap;

            &:hover {
                background-color: #283138;
            }

            border-bottom: 1px solid #283138;
        }
    }

}